<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Source+Code+Pro:300,400' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main">
      <div class="hero">
        <div class="nav animated fadeIn">
          <ul class="links">
            <li><a href="#about">About</a></li>
            <li><a href="#platform">Platform</a></li>
            <li><a href="#get-involved">Get Involved</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>

        <img src="/images/dylan-logo.png" class="animated bounceInLeft"/>
        <h1 class="animated fadeIn">Dylan Hanwell for <span class="title">VP External</span></h1>
      </div>

      <div id="about" class="section">
        <h2>About</h2>
        <img src="/images/dylan-pic.png"/>
        <p>
          Hi, my name is Dylan and I’m running to be your VP External.<br />
          You may remember me when I ran for this position last year. I didn’t
          win, but I was determined to gain more experience for the position in
          order to best represent the student voice. Over the year I gained a
          deeper understanding and appreciation of the political climate and
          issues facing students while doing external policy research for the
          Students’ Union as well as serving as the external advocacy
          representative for the Arts Faculty Students’ Association. Previously,
          I served as an intern for the Deputy Premier and Minister of Advanced
          Education. These experiences, coupled with my passion for our student
          community, have motivated me to run for VP External this year, with a
          stronger knowledge of the portfolio, and clear vision of what I would
          like to accomplish.
        </p>
      </div>

      <div id="platform" class="section">
        <h2>Platform</h2>
        <p>My platform revolves around three action items I want to focus on during my term as VP External.</p>

        <p class="platform-point">1 I want to establish an external quality assurance system for the U of A. This would be a system that looks past the classroom-level of analysis onto the higher level of how we understand quality for all undergraduate students. This would include quality assurance policies creates by the provincial government for the U of A.</p>
        <p class="platform-point">2 I will fight to preserve the tuition cap that limits the percentage that tuition can rise by each year. The legislation is expiring very soon and it is up to the VP External to ensure that in the next year during the deliberations on the renewal of the legislation, that the decision is to extend the cap.</p>
        <p class="platform-point">3 I will ensure that post-secondary education will be put on the ballot. The next VP External will most likely face two elections, both provincial and federal. This is a time for the VPX to rally students to vote and make their presence known at the polls. It is essential to lay solid ground work for the next 4 years so that elected officials are reminded that post-secondary is an important issue on the ballot and students are willing to vote on that issue.</p>
      </div>

      <div id="get-involved" class="section">
        <h2>Get Involved</h2>
      </div>

      <div id="contact" class="section">
        <h2>Contact</h2>
      </div>
    </div>
  </body>
</html>
