<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">

    <meta property="og:title" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:url" content="https://votedylan.ca/" />
    <meta property="og:description" content="Vote Dylan Hanwell for VP External" />
    <meta property="og:image" content="https://votedylan.ca/images/dylan-hanwell.png" />

    <link href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Source+Code+Pro:300,400' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/form.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main">
      <div class="hero">
        <div class="nav animated fadeIn">
          <ul class="links">
            <li><a href="#about">About</a></li>
            <li><a href="#platform">Platform</a></li>
            <li><a href="#get-involved">Get Involved</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>

        <img src="/images/dylan-logo.png" class="animated bounceInLeft"/>
        <h1 class="animated fadeIn">Dylan Hanwell <span class="title-subtle">for</span> <span class="title">VP External</span></h1>
      </div>

      <div id="about" class="section">
        <div class="content">
          <h2>About <span class="feature-color">Dylan</span></h2>
          <img src="/images/dylan-pic.png"/>
          <p>
            Hi, my name is Dylan and I’m running to be your VP External.<br />
            You may remember me when I ran for this position last year. I didn’t
            win, but I was determined to gain more experience for the position in
            order to best represent the student voice. Over the year I gained a
            deeper understanding and appreciation of the political climate and
            issues facing students while doing external policy research for the
            Students’ Union as well as serving as the external advocacy
            representative for the Arts Faculty Students’ Association. Previously,
            I served as an intern for the Deputy Premier and Minister of Advanced
            Education. These experiences, coupled with my passion for our student
            community, have motivated me to run for VP External this year, with a
            stronger knowledge of the portfolio, and clear vision of what I would
            like to accomplish.
          </p>
        </div>
      </div>

      <div id="platform" class="section">
        <div class="content">
          <h2>Platform</h2>
          <p>My platform revolves around three action items I want to focus on during my term as VP External.</p>

          <p class="platform-point">1 I want to establish an external quality assurance system for the U of A. This would be a system that looks past the classroom-level of analysis onto the higher level of how we understand quality for all undergraduate students. This would include quality assurance policies creates by the provincial government for the U of A.</p>
          <p class="platform-point">2 I will fight to preserve the tuition cap that limits the percentage that tuition can rise by each year. The legislation is expiring very soon and it is up to the VP External to ensure that in the next year during the deliberations on the renewal of the legislation, that the decision is to extend the cap.</p>
          <p class="platform-point">3 I will ensure that post-secondary education will be put on the ballot. The next VP External will most likely face two elections, both provincial and federal. This is a time for the VPX to rally students to vote and make their presence known at the polls. It is essential to lay solid ground work for the next 4 years so that elected officials are reminded that post-secondary is an important issue on the ballot and students are willing to vote on that issue.</p>
        </div>
      </div>

      <div id="get-involved" class="section">
        <div class="content">
          <h2>Get Involved</h2>
          <p>Check out my <a href="https://www.youtube.com/channel/UCPcjc9be0PqD1rOF1F-bmRw">Youtube Channel</a> for my weekly vlog and my <a href="https://twitter.com/dylanhanwell">Twitter</a> and <a href="https://www.facebook.com/hanwellforvpx">Facebook</a> accounts for daily updates.</p>
          <p>If you want to get closer to the action of the campaign and volunteer, feel free to send me a message and let u know what you would like to get involved with! As well, if you have a burning question you would like to ask or just talk, send me a message through the form below or via Facebook or Twitter.</p>
        </div>
      </div>

      <div id="contact" class="section">
        <div class="content">
          <h2>Contact <span id="form-message" class="message"></span></h2>

          <form method="POST" action="/send" id="form">
            <div class="form-group">
              <label for="email">Your Email</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required/>
            </div>
            <div class="form-group">
              <label for="name">Your Name</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required/>
            </div>
            <div class="form-group">
              <label for="message">Your Message</label>
              <textarea class="form-control" name="message" rows="3" required></textarea>
            </div>
            <div class="form-group clobber">
              <label for="website">Website</label>
              <input type="text" class="form-control" name="website" id="website" placeholder="Your Website"/>
            </div>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var form = $("#form");
        var formMessage = $("#form-message");
        var formSubmitted = false;

        var pendingAction = function(text) {
          form.hide();

          formMessage
            .text(text)
            .addClass("pending");
        };

        var changeAction = function(className, text) {
          formMessage
            .removeClass("pending")
            .text(text)
            .addClass(className);
        };

        form.submit(function(e) {
          e.preventDefault();

          if (formSubmitted) {
            return;
          }

          formSubmitted = true;

          pendingAction("Sending your message...");

          $.ajax({
            url: '/send',
            type: 'post',
            dataType: 'json',
            data: form.serialize(),
            success: function(data) {
              if (data.status == "sent") {
                changeAction("success", "Your message was sent!");
              } else {
                changeAction("error", "Your message failed to send!");
              }
            },
            error: function() {
              changeAction("success", "Your message was sent!");
            }
          });
        });
      });
    </script>
  </body>
</html>
