// @background: url("../images/gray_sand.png");
@background: url("../images/binding_dark.png");

@dylan_green: rgb(215, 223, 35);
@dylan_gray: rgb(77, 79, 78);

@section-padding: 60px;
@standard-padding: @section-padding/2;

.animation-delay(@time) {
  -moz-animation-delay: @time;
  -webkit-animation-delay: @time;
  -o-animation-delay: @time;
  animation-delay: @time;
}

.clobber {
  display: none;
}

.message {
  float: right;

  &.pending {
    color: yellow;
  }

  &.error {
    color: red;
    text-decoration: underline;
  }

  &.success {
    color: @dylan_green;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Source Code Pro';
  font-size: 20px;
}

h2 {
  padding: 0;
  margin: 0 0 @standard-padding;
}

p {
  margin: 0;
  padding: 0;

  &.center {
    text-align: center;
  }
}

.hero {
  display: block;
  height: 100vh;
  padding: 0 30px;
  position: relative;
  text-align: center;
  background: @background;

  img {
    margin-top: 20vh;
    max-height: 50vh;
  }

  h1 {
    color: @dylan_green;
    font-weight: 300;


    .title {
      font-weight: 400;
      text-transform: uppercase;
      color: white;
    }

    .title-subtle {
      color: white;
    }

    .animation-delay(1.2s);
  }

  .nav {
    font-size: 0.7em;
    .animation-delay(1.5s);
    position: relative;

    .links {
      position: absolute;
      display: table-row;
      right: 0;
      top: 15px;

      li {
        display: table-cell;
        list-style-type: none;

        @media (max-width: 768px) {
          padding: 10px 10px;
        }

        padding: 10px 15px;

        a {
          color: @dylan_green;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

.section {
  padding: @section-padding;

  .content {
    max-width: 1000px;
    margin: 0 auto;
  }

  &:nth-child(2n + 1) {
    color: white;
    background: @background;
  }

  p {
    margin-bottom: @standard-padding;
    line-height: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

#about {
  img {
    float: left;
    margin-bottom: @standard-padding / 2;
    margin-right: @standard-padding;
  }
}

.btn {
  color: black;
}

.platform-point:first-letter {
  float: left;
  color: @dylan_green;
  font-size: 145px;
  line-height: 110px;
  padding-top: 0;
  padding-right: 10px;
  padding-left: 3px;
}

a, .feature-color {
  color: @dylan_green;
}
